<footer>
  <div class="p-8 border bg-zinc-200 border-t-zinc-300 border-t-2 shrink-0">
    <label
      for="comment"
      class="block text-sm font-medium leading-6 text-gray-900 font-sans"
    >Say Something</label
    >
    <div class="mt-2">
      <form
        (ngSubmit)="handleSubmit()"
        #messageForm="ngForm"
        (keyup)="$event.code === 'Enter' && handleKeypress($event)"
      >
        <div class="flex gap-x-4">
          <textarea
            [(ngModel)]="messageText"
            #messageControl="ngModel"
            rows="4"
            name="comment"
            id="comment"
            class="block font-sans w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-zinc-600 sm:text-sm sm:leading-6"
          ></textarea>
          <button
            class="h-32 w-32 rounded-lg font-sans bg-zinc-50 text-black shadow-lg border border-zinc-300"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</footer>
